<table>
  <% @cars.each do |c| %>
    <tbody>
      <tr>
        <td><%= link_to c.name, c.url %></td>
        <td><b>$<%= c.price %></b></td>
        <td>Desc: <%= c.copy %></td>
      </tr>
      <tr><td style="style="color: #f00;background-color: #f00;height: 5px;""></td></tr>
    </tbody>
  <% end %>
</table>